
.camera-label {
    font-size: 32px;
    color: rgb(0, 200, 255);
    -unity-font-definition: url("project://database/Assets/Fonts/ChakraPetch-Regular.ttf?fileID=12800000&guid=31ef9af198e904200ade4523ce535842&type=3#ChakraPetch-Regular");
    padding: 10px;
    border-width: 3px;
    border-color: rgb(0, 200, 255);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: color 0.2s ease-in-out;
}

.camera-label:hover {
    color: rgb(48, 250, 136);
}
